<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenfj.mapper.SpecialColumnMapper">
  <resultMap id="BaseResultMap" type="com.chenfj.model.SpecialColumn">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="column_id" jdbcType="VARCHAR" property="columnId" />
    <result column="top_img_url" jdbcType="VARCHAR" property="topImgUrl" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="charge" jdbcType="BIT" property="charge" />
    <result column="del" jdbcType="BIT" property="del" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, column_id, top_img_url, title, introduction, charge, del, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from f_special_column
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from f_special_column
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chenfj.model.SpecialColumn">
    insert into f_special_column (id, column_id, top_img_url, 
      title, introduction, charge, 
      del, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{columnId,jdbcType=VARCHAR}, #{topImgUrl,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, #{charge,jdbcType=BIT}, 
      #{del,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chenfj.model.SpecialColumn">
    insert into f_special_column
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="columnId != null">
        column_id,
      </if>
      <if test="topImgUrl != null">
        top_img_url,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
      <if test="charge != null">
        charge,
      </if>
      <if test="del != null">
        del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="columnId != null">
        #{columnId,jdbcType=VARCHAR},
      </if>
      <if test="topImgUrl != null">
        #{topImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="charge != null">
        #{charge,jdbcType=BIT},
      </if>
      <if test="del != null">
        #{del,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chenfj.model.SpecialColumn">
    update f_special_column
    <set>
      <if test="columnId != null">
        column_id = #{columnId,jdbcType=VARCHAR},
      </if>
      <if test="topImgUrl != null">
        top_img_url = #{topImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="charge != null">
        charge = #{charge,jdbcType=BIT},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chenfj.model.SpecialColumn">
    update f_special_column
    set column_id = #{columnId,jdbcType=VARCHAR},
      top_img_url = #{topImgUrl,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      charge = #{charge,jdbcType=BIT},
      del = #{del,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>